body {
    background-color: aqua;
}

nav a {
    color: red;
}

/* > = child selector */
article > p {
    background-color: yellowgreen;
}

#topnav {
    background-color: white;
}

/* div followed by any paragraph */
div + p {
    background-color: pink;
}

.active {
    color:orange;
}

div ~ p {
    background-color: teal;
}

footer a {
    color: darkorchid;
}

a {
    color: darkgreen;
}